craft;build)200.break_speed100
walk:joystick:jump:button: 

                             } 

                                   }

                                        }

:break:button1.0

(end)

        }

   }

}
